.title-con{
    text-align: center;
    margin-left: -8px;
}
.map-container{
    width: 600px;
    height: 350px;
    box-shadow:1px 8px 9px 0 rgba(0,0,0, 0.5) ;
   
}


.suggestion{
    text-align: center;
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
 
}
.contact-details{
    border: 5px;
    width: 450px;
    background-color: rgb(187, 180, 180);
   margin-left: 100px;
}
@media screen and (max-width: 500px){
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .url-form{
        margin-top: 8%;
       
    }
    .map-container{
        width: 380px;
        margin: 50px;
    }
    .map{
        width:250px;
      
    }
}
