
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Fredoka:wght@300..700&family=Poppins:wght@400;500&display=swap');
.main-link-container{
    display: flex;
    justify-content: space-around;
}
.my-link{
max-height: 500px;
 margin: 0;
  width: 600px;
    padding: 10px;
    background-color: #e181e7;
    overflow-y: scroll;
   
}
.title-heading{
    text-align: center;
    font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.title{
    text-align: center;
}
.input-url{
    display: block;
   margin: 10px auto;
   width:450px;
   padding: 8px;
   border-radius: 4px;
   border: none;
}
.url-form{
   
 
    width: 600px;
    padding: 10px;
    background-color: #e181e7;

}
.btn-link{
    display: block;
    margin: 10px auto;
  padding:8px 15px ;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: white;
background-color: #97128c;

}
.btn-link:hover{
    box-shadow: 0 0 0 2px rgba(0,0,0, 0.2)
}
