
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Fredoka:wght@300..700&family=Poppins:wght@400;500&display=swap');
.main-link-container{
    display: flex;
    justify-content: space-around;
   margin-bottom: 46px;
}
.my-link{
max-height: 500px;
 margin: 0;
  width: 600px;
    padding: 10px;
    background-color: #f4c8f7;
    overflow-y: scroll;
    box-shadow: 0 0 0 2px rgba(0,0,0, 0.5)
   
}
.title-heading{
    text-align: center;
    margin-bottom:-9px ;
 
}
.title{
    text-align: center;
   
    
}
.input-url{
    display: block;
   margin: 10px auto;
   width:550px;
   padding: 10px;
   border-radius: 4px;
   border: none;
   box-shadow:1px 3px 10px 0 rgba(0,0,0, 0.2) ;
}
.url-form{
    margin-top: 15px;
    border-radius: 5px;
    width: 600px;
    padding: 10px;
    background-color: #f4c8f7;
   

}
.url-form:hover{
    box-shadow:1px 8px 10px 0 rgba(0,0,0, 0.5) ;
}
.my-link-title{
    text-align: center;
    font-size: 20px;
}
.btn-link{
    
    display: block;
    margin: 10px auto;
  padding:8px 15px ;
 text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: white;
background-color: #97128c;

}
.btn-link:hover{
    box-shadow: 0 0 0 2px rgba(0,0,0, 0.2)
}
@media screen and (max-width: 500px){
    .main-link-container{
        display: flex;
       flex-direction: column;
       
    }
    .url-form{
        width: 380px;
        margin: 20px;
       
    }
    .my-link{
        width: 380px;
        margin: 20px;
    }
.input-url{
   width:350px;
  
    }
}