.form-container{
    display: block;
   width: 500px;
    margin: 10px auto;
    margin-top: 100px;
    background-color: #ead4ec;
    border-radius: 5px;
    box-shadow: 6px 2px 10px 3px rgba(0,0,0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
   
  .title{
    text-align: center;
  }
  
.input{
    display: block;
    margin: 7px auto;
    width:450px;
    padding: 8px;
    border-radius: 4px;
    border: none;
}
.inputurl{
  box-shadow:1px 3px 10px 0 rgba(0,0,0, 0.2) ;
}
}
.btn-sub{
    display: block;
    margin: 10px auto;
  padding:8px 15px ;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: white;
background-color: #97128c;
}
.btn-sub:hover{
    box-shadow: 0 0 0 2px rgba(0,0,0, 0.2)
}


