.nav-sec{
    margin-left:  auto;
    margin-right: 60px;
 
}
.link-img{
    height: 25px;
}
.logbtn{
    cursor: pointer;
}
@media screen and (max-width: 500px){
    .ham-nav{
        margin-left: -180px;
        
    }
}
